{% extends 'base.html' %}

{% block form %}
    <form id="todo_creator" method="post" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        {{ form.todo }}
        <div id="dt_inputs">
            {{ form.date }}
            {{ form.time }}
            {{ form.submit }}
        </div>
    </form>
{% endblock %}

{% block filters %}
    {% if not remove_filters %} 

        <div class="filters">
            <a class="filter" href="{{ url_for('public.index') }}">
                All
            </a>
            <a class="filter" href="{{ url_for('public.index', mode='active') }}">
                Active
            </a>
            <a class="filter" href="{{ url_for('public.index', mode='completed') }}">
                Completed
            </a>
        </div>

    {% endif %}
{% endblock %}

{% block todos %}
    {% if todos %}

        <div id="todos_container"> 
            {% for todo in todos %}
                {% if todo.complete %}

                    <div class="todo" style="background-color: #28B463;">
                        <div class="original">
                            <p>{{ todo.content }}</p>

                            <div class="date" style="background-color: #58D68D;">
                                <p>{{ todo.date | datef }}</p>
                            </div>
                        </div>
                        <div class="overlay">
                            <div class="buttons">
                                <a href="{{ url_for('public.complete', id = todo.id) }}"><i class="far fa-window-close"></i></a>
                                <a href="{{ url_for('public.delete', id = todo.id) }}"><i class="far fa-trash-alt"></i></a>
                                <a href="{{ url_for('public.update', id = todo.id) }}"><i class="far fa-edit"></i></a>
                            </div>
                            <div class="time">
                                <p>{{ todo.time | timef }}</p>
                            </div>
                        </div>
                    </div>

                {% else %}

                    <div class="todo" style="background-color: #58D68D;">
                        <div class="original">
                            <p>{{ todo.content }}</p>

                            <div class="date" style="background-color: #58D68D;">
                                <p>{{ todo.date | datef }}</p>
                            </div>
                        </div>
                        <div class="overlay">
                            <div class="buttons">
                                <a href="{{ url_for('public.complete', id = todo.id) }}"><i class="far fa-check-square"></i></a>
                                <a href="{{ url_for('public.delete', id = todo.id) }}"><i class="far fa-trash-alt"></i></a>
                                <a href="{{ url_for('public.update', id = todo.id) }}"><i class="far fa-edit"></i></a>
                            </div>
                            <div class="time">
                                <p>{{ todo.time | timef }}</p>
                            </div>
                        </div>
                    </div>

                {% endif %}
            {% endfor %}
        </div>

    {% endif %}
{% endblock %}